.words{
	width: 960px;
	margin:20px auto;

	.line{
		display: flex;
		flex-direction: row;
		line-height: 3em;
		&:hover{
			background-color:#FDF5F5;
		}
	}
	.remember{
		color:#D4AA9B;
	}
	.en{
		font-size: 3em;
		font-family: Monaco;
		width: 370px;
	}
	.zh{
		font-size: 1.2em;
		width:400px;
		color:#fff;
		&:hover{
			color:#000;
		}
	}
	.zhan{
		margin-left: 10px;
		font-size: 1.5em;
		cursor: pointer;
	}
}

